<h1>Listing all events</h1>
<h2>Events Very Soon:</h2>
<ul>
	<% @events_now.each do |now| %>
		<li><%= link_to now.name, event_path(now) %>, <%= l now.datetime, :format => :long %>, <%= now.location %>, number attending: <%= now.attendees.count %></li>
	<% end %>
</ul>
<br />
<h2>Events Today:</h2>
<ul>
	<% @events_today.each do |today| %>
		<li><%= link_to today.name, event_path(today) %>, <%= l today.datetime, :format => :long %>, <%= today.location %>, number attending: <%= today.attendees.count %></li>
	<% end %>
</ul>
<h2>Other Events:</h2>
<ul>
	<% @events_later.each do |event| %>
		<li><%= link_to event.name, event_path(event) %>, <%= l event.datetime, :format => :long %>, <%= event.location %>, number attending: <%= event.attendees.count %></li>
	<% end %>
</ul>
