<!DOCTYPE html>
<html>
<head>
  <title>SimpleEvent</title>
<%= javascript_include_tag 'prototype' %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
	<%= javascript_include_tag :application %>
	
  <%= csrf_meta_tags %>
</head>
<body>
	<% if user_signed_in? %>
		<%= current_user.name %> | 
		<%= link_to "edit", edit_user_registration_path %> | 
		<%= link_to "sign out", destroy_user_session_path, :method => "delete" %>
	<% else %>
		<%= link_to "sign in", new_user_session_path %> | 
		<%= link_to "sign up", new_user_registration_path %>
	<% end %>
	<p class="notice"><%= notice %></p>
	       <p class="alert"><%= alert %></p>
<%= yield %>
<hr></hr>
<%= link_to "event index", events_path %> | <%= link_to "new event", new_event_path %>
</body>
</html>
